#nav-name{
    font-weight: bold;
}

.navi li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 15px;
        
    
}
.navbar{
    background-color: lavender;
    border: 2px solid black;
    
}
#search{
    
    text-align: center;
}
