{%extends "base-no-nav.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class=" col-md-6 ">
            <img id="phones" src="../../../static/images/phones.png" alt="">
            <img id="shot" src="../../../static/images/shot.jpg" alt="">
        </div>
        <div class="login">
        <div class="col-md-6  ">
            
                
                {% if form.errors %}
                <p> Password or Username is incorrect </p>
              {% endif %}
              <div class="panel panel-default">
        
                <div class="panel-heading">
                    <h1 id="name">instavector</h1>
                </div>
                <div class="panel-body">
        
                  <form  action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form%}
        
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-sm" value="Login">
                    </div>
                    <div class="card-body mt-3 mb-3 mr-2 ml-4">
                        <a href="/accounts/password_reset/">forgot password?</a><br>
                        Don't have an account? <a href="/register">Sign up</a>
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
        
                  </form>
        
                </div>
        
              </div>    
            </div>
        </div>
          <div class="app text-center">
                <p class="text-center">Get the app.</p>
                <a href=""><img id="app" src="../../../static/images/iosapp.png" alt=""></a>
                <a href=""><img id="app" src="../../../static/images/googleapp.png" alt=""></a>
          </div>
        </div>
    
    <div class="footer">
        <ul>
            <li><a href="">ABOUT</a></li>
            <li><a href="">HELP</a></li>
            <li><a href="">PRESS</a></li>
            <li><a href="">API</a></li>
            <li><a href="">JOBS</a></li>
            <li><a href="">PRIVACY</a></li>
            <li><a href="">TERMS</a></li>
            <li><a href="">LOCATIONS</a></li>
            <li><a href="">TOP ACCOUNTS</a></li>
            <li><a href="">HASHTAGS</a></li>
            <li><a href="">LANGUAGE</a></li>
        </ul>
        <div class="copy">
            &copy;2020 INSTAVECTOR FROM VECTOR
        </div>
    </div>
    </div>
    
    
    

</div>

{% endblock %}