{% extends 'base.html'%}
{% block content %}
<style>
    body{
        margin-top: 100px;
        text-align: center;
    }
   
    .prof_pic{
        border: 2px solid #c90a79;
        padding: 2px;
        border-radius: 150px;
        height: 50px;
        width:100px;
    }
    .follow{
        background-color: #c90a79;
        color:white;
    }
</style>
<div class="container">
    <h3><b>people</b></h3><hr>
   
    {% for user in users %}
    <div class="row"> 
        <div class="col-md-4">
               
                <img class="prof_pic" src="{{user.profile_picture.url}}" alt="profile_img">
              
                
        </div>
        <div class="col-md-2">
            <b>{{user.name.username}}</b>
            <p>{{user.bio}}</p>
        </div>
        <div class="col-md-2">
            following:<b> {{user.following.count}}</b><br>
            followers:<b> {{user.followers.count}}</b>
        </div>
    
        <div class="col-md-4"> 
            {% if user.name.username != user.profile.name %}
            <a href="{% url 'follow' user.name.id %}" class="btn follow">follow</a>
            {% endif %}
        </div>
         
    </div>  
    <hr>      
        {% endfor %}
     
</div>

{% endblock %}