<nav class="navbar  navbar-fixed-top">
    <div class="col-sm-4 col-md-4">
      <div class="navbar-header">
        <a id="nav-name" class="navbar-brand" href="/">Instavector</a>
        
      
      </div>
    </div>
      
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4">
    

        <form id="search" class="navbar-form " role="search" action="">

          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="Search" name="image">
          </div>

        </form>
      </div>
      <div class="col-sm-4 col-md-4">
      <div class="navi navbar-right">
          <ul>
              <li><a href="/">home</a></li>
              <li><a href="">inbox</a></li>
              <li><a href="">explore</a></li>
              <li><a href="">accounts</a></li>
          </ul>
      </div>
      </div>
      <!-- search form end -->
    
</nav>



