<style>
  .user_pic{
    height: 30px;
    border-radius: 20px;
  }
</style>
<div class="container-fluid navig">
<nav class="navbar  navbar-fixed-top">
    <div class="col-sm-4 col-md-4">
      <div class="navbar-header">
        <a id="nav-name" class="navbar-brand" href="/">Instavector</a>
        
      
      </div>
    </div>
      
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4">
    

        <form id="search" class="navbar-form " role="search" action="">

          <div class="input-group">
            <input type="text" class="form-control text-center" placeholder="Search" name="image">
          </div>

        </form>
      </div>
      <div class="col-sm-4 col-md-4">
      <div class="navi navbar-right">
          <ul>
              
              <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
              <li><a href=""><i class="glyphicon glyphicon-send"></i></a></li>
              <li><a href=""><i class="glyphicon glyphicon-globe"></i></a></li>
              <li><a href=""><i class="glyphicon glyphicon-heart-empty"></i></a></li>
              {% if user.is_authenticated %}
              <li><div class="dropdown show">
                <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="user_pic" src="{{user.profile.profile_picture.url}}" alt="profile">
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'profile'%}"><i class="glyphicon glyphicon-user"></i> profile</a>
                  <a class="dropdown-item" href="#"><i class="glyphicon glyphicon-cog"></i> settings</a><hr>
                  <a class="dropdown-item" href="{% url 'logout'%}">Log Out</a>
                </div>
              </div>
            </li>
              
              {% endif %}
          </ul>
      </div>
      </div>
      <!-- search form end -->
    
</nav>
<hr>
</div>



