{% extends "base.html" %}

{% block content %}
    <div class="card">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
             <h2>Are you sure you want to delete {{context.name}}</h2>
                <small class="text-muted">trying to delete another user's post will fail!</small>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i></button>
                <a class="btn btn-success" href="{% url 'index' %}">cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
