{% extends 'base.html'%}

{% block content %}


{{block.super}}
<style>
  body{
    margin-top: 60px;
  }
  .main-pic{
    width: 100%;
    height: 100%;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
<div class="card ">
    <div class="card-header">
      <img id="card-img" src="{{image.author.profile.profile_picture.url}}" alt=""><b>{{image.author}}</b>
      {% if image.author == user %}
      <a class="btn btn-danger" style="float: right;" href="{% url 'delete' image.id %}"><i class="glyphicon glyphicon-trash"></i></a> 
      {% endif %}  
     
    </div>
    <div class="card-body">
        <img class="main-pic" src="{{image.image.url}}" alt="">
      
      <h5 class="card-title"><b>{{image.name}}</b></h5>
      <p class="card-text">{{image.caption}}</p>
    
      
    
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-md-10">
            <b>likes</b>
            </div>
            <div class="col-md-2">
           
            
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header text-center"><b>comments</b> </div>
        {% for comment in image.comments.all %}
          <b>{{comment.name}}</b>
          <p>{{comment.comment}}</p>
        {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}